  .fortune-text {
    font-size: 24px;
    padding: 0 60px;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }
  
  .scrolling-text-exit {
    animation-name: exitAnimation;
  }
  
  .scrolling-text-enter {
    animation-name: enterAnimation;
  }
  
  @keyframes exitAnimation {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 0;
      transform: translateY(-20%);
    }
  }
  
  @keyframes enterAnimation {
    0% {
      opacity: 0;
      transform: translateY(20%);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes moveDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(1.5rem); }
  100% { transform: translateY(0); }
}

.swipe-icon {
  animation: moveDown 2s ease-in-out infinite;
}

  